<br>
<div class="media">
  <img src=".\resources\index.jfif" class="align-self-end mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Bottom-aligned media</h5>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
 
 </div>
'Can you handle a <a href="/secure/place">secret</a>?'
</div>
<br>
<div class="container">
<form action="/about" method="POST" role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваша пошта</label>
    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" name="your_mail" value="<%=%>">
    <small id="emailHelp" class="form-text text-muted">Підписатись на новини</small>
  </div>

  <button type="submit" class="btn btn-primary">Підписатись</button>
</form>
 </div>

 