<br>
<form action='/login/attempt' method='post' class="form-inline well">
   <div class="container">
   	<input type="text" class="form-control" name='username' placeholder="username" autofocus>

  <input type="text" class="form-control" name='password' placeholder="password" autofocus>
   <input type="text" class="form-control" name='test' placeholder="test" autofocus>
  <input class="btn primary" type='submit' value='log in'>
</div>
</form>
