


<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Клієнт</th>
      <th scope="col">Час</th>
      <th scope="col">Майстер</th>
    </tr>
  </thead>
 
<%db = SQLite3::Database.new '.\public\barber.sqlite'%>
<%db.results_as_hash = true%>
<%result =  db.execute "SELECT * FROM Users order by id desc" %>
<%result.each do |row|%>
<body>
    <tr>
      <th scope="row"><%=row['id']%></th>
      <td><%=row['name']%></td>
      <td><%=row['datestamp']%></td>
      <td><%=row['barber']%></td>
    </tr>
<%end%>
</body>
</table>


