
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Майстер</th>
      <th scope="col">Професійність</th>
      <th scope="col">Час роботи</th>
    </tr>
  </thead>
 

<%result =  @barbers%>
<%result.each do |row|%>
<tbody>
    <tr>
      <th scope="row"><%=row['id']%></th>
      <td><%=row['name']%></td>
      <td><%=row['type_prof']%></td>
      <td><%=row['time_work']%></td>
    </tr>
<%end%>
</tbody>
</table>