
<div class="container-xl">

<br>
<p>Форма записи на стрижку</p>
<form action="/" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input type="text" class="form-control" id="user_name_id" aria-describedby="user_name" name="user_name" value="<%=session[:identity]%>">
    <small id="emailHelp" class="form-text text-muted">Пожалуйста введите Ваше имя</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Телефон</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="phone_number">
    <small id="emailHelp" class="form-text text-muted">Пожалуйста введите Ваше телефон</small>
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Время</label>
    <input type="text" class="form-control" id="date" name="date" value="<%=Time.new%>">
    <small id="emailHelp" class="form-text text-muted">Пожалуйста введите удобное Вам время</small>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="barber" name='barber'>
      <option>Наталія</option>
      <option>Олена</option>
      <option>Вікторія</option>
      <option>Анастасія</option>
      <option>Артур</option>
    </select>
  </div>
</div>

<br>  
  <button type="submit" class="btn btn-primary">Записаться на стрижку</button>
</form>


</div>


