
<div class="container-xl">

<br>
<p>Форма записи на стрижку</p>
<form action="/" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input type="text" class="form-control" id="user_name_id" aria-describedby="user_name" name="user_name" value="<%=session[:identity]%>">
    <small id="emailHelp" class="form-text text-muted">Пожалуйста введите Ваше имя</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Телефон</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="phone_number">
    <small id="emailHelp" class="form-text text-muted">Пожалуйста введите Ваше телефон</small>
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Время</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="date">
    <small id="emailHelp" class="form-text text-muted">Пожалуйста введите удобное Вам время</small>
  </div>
  <button type="submit" class="btn btn-primary">Записаться на стрижку</button>
</form>


</div>


